/* font */
@font-face {
    font-family: NotoSansCJKtc-Regular;
    src: url(NotoSansCJKtc-Regular.otf);
}
@font-face {
    font-family: NotoSans-Regular;
    src: url(NotoSans-Regular.ttf);
}
/* tags */
/* div */

.titleBlock{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.titleSmallBlock{
  text-align: center;
}
.block{
  width: 100%;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.smallBlock{
  float: left;
  width: 28%;
  height: 100%;
  margin-left: 4%;
  text-align: center;
}
.clear {
  clear: both;
}

/* span */
.title{
  font-family:NotoSans-Regular,NotoSansCJKtc-Regular,微軟正黑體, sans-serif;
  font-size: 25px;
  line-height: 1.5em;
  color: #505050;
}
.text{
  font-family:NotoSans-Regular,微軟正黑體, sans-serif;
}

/* img */
.img-feature{
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
