/* tags */

body {
  margin: 0;
}
header {
  width: 100%;
  height:100px;
  background-color: black;
}
a {
  text-decoration: none;
}
.ul-nav{
  margin: 0;
  margin-left: -40px;
}
.li-nav {
  font-family:Calibri,Arial,微軟正黑體, sans-serif;
  font-size: 20px;
  list-style: none;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 50px;
}
.nav:hover{
  position: relative;
  top: 1px;
  left: 1px;
}
.nav:active{
  color: black;
}
article{
  min-height: 500px;
  padding-left: 2%;
  padding-right: 2%;
}
footer{
  background-color: black;
  text-align: center;
  height: 40px;
}
/* div */

.div-nav {
  background-color: gray;
  box-sizing: border-box;
  height:50px;
}
.div-li{
  height: 100%;
  float: left;
  color: white;
}
.div-li:hover{
  background-color: black;
}
.div-li:active{
  background-color: white;
  color: black;
}
.clear {
  clear: both;
}
/* p */


/* span */

.copyright{
  font-family: Arial, 微軟正黑體, sans-serif;
  color: white;
  line-height: 40px;
}

/* img */

.logo {
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
